#NewPost {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#NewPost .center {
  width: 50%;
  min-width: 250px;
  max-width: 600px;
}

#NewPost #title {
  text-align: center;
}
