body {
  background-color: #eaeded;
}

h6 {
  font-size: 1.1rem;
}

input:focus:invalid, select:focus:invalid, textarea:focus:invalid {
  box-shadow: 0 0 0 0.1rem rgba(255, 0, 0, 0.25);
  border: 1px solid red;
}

.app {
  padding: 20px 40px;
  height: 100%;
  width: 100%;
}

.btn-primary, .btn-primary:focus {
  background-color: #347d4d;
  border-color: #347d4d;
  color: white;
}

.btn-primary:hover {
  background-color: #306e42;
  border-color: #2f693e;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: #306e42;
  border-color: #2f693e;
}

.btn-primary:disabled {
  background-color: #306e42;
  border-color: #2f693e;
  opacity: 1;
}

.btn.btn-link {
  border: 0;
}

span.is-invalid {
  color: #f20000;
}

.CodeMirror,
.CodeMirror-scroll {
  max-height: 300px;
}

.CodeMirror-fullscreen.CodeMirror {
  max-height: none;
}

.CodeMirror-fullscreen .CodeMirror-scroll {
  max-height: none;
}

.CodeMirror .editor-preview img {
  max-width: 250px;
}


blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
}
