body {
    background-color: white;
}

h1
{
    color: black;
    text-align: left;
}

h3
{
    color: black;
    font-family: verdana;
    text-align: left;
}

#HomePage #posts
{
    display: flex;
    flex-wrap: wrap;
}

#HomePage #posts .post
{
    flex: 10%;
    margin: 10px;
    font-family: verdana, serif;
    font-size: 12px;
    border: 2px solid #2f6e43;
    text-align: left;
    cursor: hand;
}

#HomePage #posts .post .thumbnail {
    padding: 20px;
}

#HomePage #posts .post .details {
    padding: 0 10px 10px 10px;
}

#HomePage #posts .post .details * {
    margin: 0;
    padding: 0;
    font-size: 18px;
    display: block;
}

#HomePage #posts .post .details .price {
    font-weight: bold;
}
