/*
    This CSS file specifies the colors and stylistic elements related
    to the current profile of the user
 */

#profilePic {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

#user-profile {
  padding: 20px;
  background-color: white;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  box-shadow: 2px 2px 5px #000;
  border: 1px solid #000;
}

#user-profile .Location {
  text-align: center;
}

#user-profile hr {
  width: 300px;
  border: 1px solid rgba(16, 85, 22, 0.73);
  background-color: transparent;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  display: inline-flex;
  margin-bottom: 15px;
  border: 1px solid #000;
}

#user-profile h1,
#user-profile h2,
#user-profile h3,
#user-profile h4,
#user-profile h5,
#user-profile h6,
#user-profile p {
  margin: 0;
}

#user-profile h2 {
  font-size: 30px;
}

#user-profile h3 {
  font-size: 18px;
}

#user-profile h4 {
  font-size: 16px;

}

#user-profile p {
  font-size: 14px;
}

.top, .bottom {
  padding: 30px;

}
.bottom {
  background-color: #92a8d1;
  text-align: left;
}

.biography img{
  max-width: 250px;
}
