.flex {
    display: flex;
}

.column {
    flex: 50%;
    margin-right: 20px;
}

#item {
    margin-top: 20px;
}

.divider {
    height: 2px;
    margin: 10px 0 5px 0;
    background-color: #bababa;
}

.description {
    white-space: pre-wrap;
}

.voting {
    padding-top: 50px;
    padding-bottom: 50px;
}

.upvote {
background-color: #347d4d;
border-color: #347d4d;
}

.downvote {
    background-color: darkred;
    border-color: darkred;
}
