.product .flex {
    display: flex;
    align-items: flex-end;
}

.details {
    flex-grow: 1;
    flex-basis: 80%;
}

#productPhoto {
    flex-basis: 20%;
}

.column {
    flex: 50%;
    margin-right: 20px;
}

#item {
    background-color: white;
    font-family: verdana, serif;
    border: 1px solid #cbcbcb;
    border-top: 3px solid green;
    border-radius: 3px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.09);
}

.divider {
    height: 2px;
    margin: 10px 0 5px 0;
    background-color: #bababa;
}

.description {
    white-space: pre-wrap;
}

.description img{
    max-width: 60%;
}
